.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:30% ;

}

.visualizer{
  width: 50%;
  border: 1px solid black;
  height: 80vh;
  justify-content: center;
  position: relative;
  text-align: center;
}


.rotate {
  position: absolute;
  bottom: 0;
  border-top: 2px solid lightslategrey;
  width: 100%;
  text-align: center;
}

.name {
  font-size: 1.5em;
}

.job {
  font-size: 1em;
  color: lightslategrey;
}

.quote {
  font-size: 1.2em;
  padding-top: 30px;
}

.behind {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 80%;
}
.jobDescription {
  font-size: 1.7em;

}

.keyWords{
  font-size: 1.2em;
  color: lightslategrey;
}

.image {
  height: 50%;
}


